* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    color: #fff;
    background-color: rgb(22, 22, 22);
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    list-style-type: none;
    cursor: pointer;
    padding: 0px 25px 15px 25px;
}

/*DROPDOWN STYLE*/
.container-dropdown {
    position: relative;
    flex-direction: column;
    display: inline-block;
}

.dropdown {
    background-color: #3d3d3d;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    flex-direction: column;
    list-style-type: none;
    z-index: 1;
    overflow: auto;
}

.drop-item {
    padding: 12px 16px;
}

.open-drop {
    display: flex;
}